<div class="center jumbotron">
  <h1><%= t "welcome" %></h1>
  <% if logged_in? && current_user.supervisor? %>
    <%= link_to t("create_user"), new_admin_user_path, class: "btn btn-lg btn btn-success" %>
  <% end %>
</div>
