<% if current_user.training? subject %>
  <%= render "subjects/finished", subject: subject %>
<% elsif current_user.finished? subject %>
  <button class="btn btn-default"><%= t "User.finished" %></button>
<% else %>
  <%= render "subjects/training", subject: subject %>
<% end %>
