<header class="navbar navbar-fixed-top navbar-inverse">
 <div class="container">
    <%= link_to I18n.t("title"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to I18n.t("home"), root_path %></li>
        <li><%= link_to I18n.t("help"), help_path %></li>
        <li><%= link_to I18n.t("login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>